work/
tmp/
output/
logs/
downloads/
payload/
extracted/
super_work/

*.img
*.img.zst
*.zip
*.7z
*.tar
*.xz
*.lz4
*.br
*.tmp

.vscode/
.idea/
.DS_Store
Thumbs.db

.env
*.key
*.pem
*.pk8
*.jks
*.keystore
